# Moduel 6.5: Practice Notebook on Module 06 ‚Äì Exploratory Data Analysis (EDA)

In this practice notebook, you will choose **one dataset** from the list below and repeat the full EDA steps you learned in Module 06.

## Dataset Options (Choose One)

1. E-Commerce Fraud Detection Dataset  
   https://www.kaggle.com/datasets/umuttuygurr/e-commerce-fraud-detection-dataset  

2. BreastDataset  
   https://www.kaggle.com/datasets/khansaafreen/breastdataset  

3. Titanic Dataset  
   https://www.kaggle.com/datasets/yasserh/titanic-dataset  

4. Loan Approval Dataset  
   https://www.kaggle.com/datasets/anishdevedward/loan-approval-dataset  

5. Diabetes Health Indicators Dataset  
   https://www.kaggle.com/datasets/mohankrishnathalla/diabetes-health-indicators-dataset  

6. Alzheimer‚Äôs Disease Dataset  
   https://www.kaggle.com/datasets/rabieelkharoua/alzheimers-disease-dataset  

7. Students Performance Dataset  
   https://www.kaggle.com/datasets/rabieelkharoua/students-performance-dataset  

8. Cancer Data  
   https://www.kaggle.com/datasets/erdemtaha/cancer-data  

9. Mushroom Classification  
   https://www.kaggle.com/datasets/uciml/mushroom-classification  

10. Rain in Australia  
   https://www.kaggle.com/datasets/jsphyg/weather-dataset-rattle-package  

---

## Section 1 ‚Äî Dataset Selection and Brief Description

**Instructions:**

- Write the name of the dataset you selected.  
- Copy a brief description from the Kaggle page (2‚Äì3 lines).  
- Mention your **target column** (if applicable).

### Student Notes and Observations

_E-Commerce Fraud Detection Dataset_

üåç Storyline: The Digital Bazaar

In 2024, e-commerce platforms across Istanbul, Berlin, New York, London, and Paris began noticing strange transaction bursts.
Some cards tested with $1 purchases at midnight.
Others shipped ‚Äúgaming accessories‚Äù 5,000 km away.
Promo codes were being reused from freshly created accounts.
To investigate these global patterns safely, this synthetic dataset recreates realistic fraud behavior across countries, channels, and user profiles ‚Äî allowing anyone to build, test, and compare fraud-detection models without exposing any real user data.

_Target column = is_fraud_

## Section 2 ‚Äî Upload the Dataset and Load into Pandas

You will now upload your chosen CSV file and load it into a Pandas DataFrame.

In [ ]:
# TODO:
# 1. Upload your chosen CSV file using files.upload()
# 2. Load it into a DataFrame using pd.read_csv()
# 3. Display the first 5 rows using df.head()

import numpy as np
import pandas as pd
import matplotlib.pylab as plt
import seaborn as sns

plt.style.use("default")
sns.set(font_scale=1.1)

df = pd.read_csv("../dataset/transactions.csv")
df.head()

,transaction_id,user_id,account_age_days,total_transactions_user,avg_amount_user,amount,country,bin_country,channel,merchant_category,promo_used,avs_match,cvv_result,three_ds_flag,transaction_time,shipping_distance_km,is_fraud
0,1,1,141,47,147.93,84.75,FR,FR,web,travel,0,1,1,1,2024-01-06T04:09:39Z,370.95,0
1,2,1,141,47,147.93,107.90,FR,FR,web,travel,0,0,0,0,2024-01-09T20:13:47Z,149.62,0
2,3,1,141,47,147.93,92.36,FR,FR,app,travel,1,1,1,1,2024-01-12T06:20:11Z,164.08,0
3,4,1,141,47,147.93,112.47,FR,FR,web,fashion,0,1,1,1,2024-01-15T17:00:04Z,397.40,0
4,5,1,141,47,147.93,132.91,FR,US,web,electronics,0,1,1,1,2024-01-17T01:27:31Z,935.28,0

### Student Notes and Observations

_What did you notice from the first few rows? Any strange columns or values?_

## Section 3 ‚Äî Basic Dataset Information (Shape, Info, Describe)

Now inspect the basic structure of the dataset.

In [11]:
# TODO:
# 1. Print the shape of the dataset (rows, columns)
print(df.shape)

# 2. Display df.info() to inspect data types and missing counts
print(df.info())

# 3. Show df.describe().T for numeric statistics
print(df.describe().T)

(299695, 17)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299695 entries, 0 to 299694
Data columns (total 17 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   transaction_id           299695 non-null  int64
 1   user_id                  299695 non-null  int64
 2   account_age_days         299695 non-null  int64
 3   total_transactions_user  299695 non-null  int64
 4   avg_amount_user          299695 non-null  float64
 5   amount                   299695 non-null  float64
 6   country                  299695 non-null  object
 7   bin_country              299695 non-null  object
 8   channel                  299695 non-null  object
 9   merchant_category        299695 non-null  object
 10  promo_used               299695 non-null  int64
 11  avs_match                299695 non-null  int64
 12  cvv_result               299695 non-null  int64
 13  three_ds_flag            299695 non-null  int64
 14  transaction_time         299695 non-null  object
 15  shipping_distance_km     299695 non-null  float64
 16  is_fraud                 299695 non-null  int64
dtypes: float64(3), int64(9), object(5)
memory usage: 38.9+ MB
None
                            count           mean           std    min  \
transaction_id           299695.0  149848.000000  86514.638800   1.00
user_id                  299695.0    3002.559432   1732.309663   1.00
account_age_days         299695.0     973.397871    525.241409   1.00
total_transactions_user  299695.0      50.673321      5.976391  40.00
avg_amount_user          299695.0     148.142973    200.364624   3.52
amount                   299695.0     177.165279    306.926507   1.00
promo_used               299695.0       0.153640      0.360603   0.00
avs_match                299695.0       0.837999      0.368453   0.00
cvv_result               299695.0       0.872110      0.333968   0.00
three_ds_flag            299695.0       0.784588      0.411109   0.00
shipping_distance_km     299695.0     357.049028    427.672074   0.00
is_fraud                 299695.0       0.022062      0.146887   0.00

                              25%        50%        75%        max
transaction_id           74924.50  149848.00  224771.50  299695.00
user_id                   1501.00    3007.00    4504.00    6000.00
account_age_days           516.00     975.00    1425.00    1890.00
total_transactions_user     46.00      51.00      56.00      60.00
avg_amount_user             46.19      90.13     173.45    4565.29
amount                      42.10      89.99     191.11   16994.74
promo_used                   0.00       0.00       0.00       1.00
avs_match                    1.00       1.00       1.00       1.00
cvv_result                   1.00       1.00       1.00       1.00
three_ds_flag                1.00       1.00       1.00       1.00
shipping_distance_km       136.60     273.02     409.18    3748.56
is_fraud                     0.00       0.00       0.00       1.00

### Student Notes and Observations

_Are there many columns? Any data types that look unexpected? What did you learn from describe()?_

## Section 4 ‚Äî Identify Target Column and Feature Types

Separate the target and features into numeric and categorical groups.

In [ ]:
# TODO:
# 1. Identify your target column name
# 2. Create a list of numeric feature columns
# 3. Create a list of categorical feature columns
# 4. Print all three

### Student Notes and Observations

_Which columns did you treat as numeric? Which are categorical? Any columns that were hard to classify?_

## Section 5 ‚Äî Missing Values and Basic Quality Checks

Check for missing values and basic sanity of value ranges.

In [ ]:
# TODO:
# 1. Check missing values using df.isna().sum()
# 2. Print min, max, mean, and median for numeric columns using .agg()
# 3. For each categorical column, print unique values using df[col].unique()

### Student Notes and Observations

_Are there missing values? Any strange or impossible values? Any messy categories?_

## Section 6 ‚Äî Distributions: Histograms and Boxplots for Numeric Features

Visualize numeric feature distributions and look for skewness or outliers.

In [ ]:
# TODO:
# 1. Plot histograms for numeric features
# 2. Plot boxplots for numeric features to detect outliers

### Student Notes and Observations

_Which features are skewed? Where do you see potential outliers?_

## Section 7 ‚Äî Target Distribution and Class Imbalance

Understand how balanced or imbalanced your target classes are.

In [ ]:
# TODO:
# 1. Create a countplot of the target column
# 2. Show value counts and normalized proportions for the target

### Student Notes and Observations

_Is the dataset balanced or imbalanced? Could this affect model training later?_

## Section 8 ‚Äî Categorical Feature Exploration

Look at distributions for each categorical feature.

In [ ]:
# TODO:
# For each categorical column:
# 1. Plot a bar chart of value_counts()
# 2. Observe category balance and potential issues

### Student Notes and Observations

_Which categories dominate? Any categories with too few samples?_

## Section 9 ‚Äî Numeric Features versus Target (Boxplots)

Compare numeric feature distributions across different target classes.

In [ ]:
# TODO:
# For each numeric feature:
# 1. Plot a boxplot with the feature on y axis and target on x axis
# 2. Compare distributions for each target class

### Student Notes and Observations

_Which numeric features show clear differences between target classes?_

## Section 10 ‚Äî Pairplot and Correlation Analysis

Explore relationships between features and correlations.

In [ ]:
# TODO:
# 1. Create a pairplot with selected numeric features plus the target
# 2. Generate a correlation matrix for numeric features and target
# 3. Visualize the matrix with a heatmap
# 4. Sort correlations with the target column

### Student Notes and Observations

_Which features are strongly correlated with the target? Any strong correlations between features themselves?_

## Section 11 ‚Äî Categorical Features versus Target (Crosstab and Stacked Bar Plot)

Examine how target proportions change across categories.

In [ ]:
# TODO:
# For each categorical feature:
# 1. Create a crosstab between the feature and target with normalize="index"
# 2. Plot a stacked bar chart of the proportions
# 3. Comment on how the target distribution changes across categories

### Student Notes and Observations

_Which categories seem more associated with a particular target class?_

## Section 12 ‚Äî Final Summary and EDA Insights

Summarize your findings from the full EDA process.

**Instructions:**

Write a short summary that answers:
- Top 3 features that appear most related to the target  
- 1‚Äì2 features that seem weak or noisy  
- Any data quality issues you discovered  
- Potential preprocessing steps you would apply in the next module (Module 07)

### Student Notes and Observations

_Write your final summary and reflections here._