### 1. Student Report Analyzer
You are given this data:

 import pandas as pd

 data = {
 	'Name': ['Rahim', 'Karim', 'Selina', 'Babul', 'Mitu'],
 	'Math': [88, 75, 95, 60, 80],
 	'English': [78, 85, 90, 70, 88],
 	'Science': [92, 70, 85, 65, 90]
 }
 df = pd.DataFrame(data)

 Tasks:
 1. Display only the first 3 rows.
 2. Print the column names and index values.

In [5]:
import pandas as pd

data = {
 	'Name': ['Rahim', 'Karim', 'Selina', 'Babul', 'Mitu'],
 	'Math': [88, 75, 95, 60, 80],
 	'English': [78, 85, 90, 70, 88],
 	'Science': [92, 70, 85, 65, 90]
}

df = pd.DataFrame(data)

print(df.loc[0:2,])
print(df.columns)
print(df.index)

     Name  Math  English  Science
0   Rahim    88       78       92
1   Karim    75       85       70
2  Selina    95       90       85
Index(['Name', 'Math', 'English', 'Science'], dtype='object')
RangeIndex(start=0, stop=5, step=1)

### 2. Shop Sales Data
You run a small electronics shop. The data is stored like this:

 data = {
 	'Product': ['Phone', 'Laptop', 'Tablet', 'Monitor', 'Mouse'],
 	'Price': [700, 1200, 300, 250, 50],
 	'Units_Sold': [10, 5, 8, 6, 20]
 }
 df = pd.DataFrame(data)

 Tasks:
 1. Display only the 'Product' and 'Price' columns.
 2. Access the 3rd row using both iloc and loc.
 3. Show the top 3 products with the highest revenue.

In [16]:
data = {
 	'Product': ['Phone', 'Laptop', 'Tablet', 'Monitor', 'Mouse'],
 	'Price': [700, 1200, 300, 250, 50],
 	'Units_Sold': [10, 5, 8, 6, 20]
}

df = pd.DataFrame(data)
print(df.loc[:,["Product","Price"]])
print()
print(df.iloc[2:3,:])
print()
print(df.loc[2:2,:])
print()

df["Revenue"] = df["Price"] * df["Units_Sold"]
df.sort_values(["Revenue"], ascending=False)
print(df)

   Product  Price
0    Phone    700
1   Laptop   1200
2   Tablet    300
3  Monitor    250
4    Mouse     50

  Product  Price  Units_Sold
2  Tablet    300           8

  Product  Price  Units_Sold
2  Tablet    300           8

   Product  Price  Units_Sold  Revenue
0    Phone    700          10     7000
1   Laptop   1200           5     6000
2   Tablet    300           8     2400
3  Monitor    250           6     1500
4    Mouse     50          20     1000

### 3. Attendance Tracker
Hereâ€™s an attendance sheet:

 data = {
 	'Student': ['Amin', 'Tina', 'Rafi', 'Nadia', 'Sabbir'],
 	'Days_Present': [20, 18, 22, 15, 25],
 	'Days_Absent': [2, 4, 1, 7, 0]
 }
 df = pd.DataFrame(data)

 Tasks:
 1. Make 'Student' the index column.
 2. Drop the 'Days_Absent' column.

In [35]:
data = {
 	'Student': ['Amin', 'Tina', 'Rafi', 'Nadia', 'Sabbir'],
 	'Days_Present': [20, 18, 22, 15, 25],
 	'Days_Absent': [2, 4, 1, 7, 0]
}

df = pd.DataFrame(data)
df.set_index("Student", inplace=True)
print(df)
print()
df.drop("Days_Absent", axis=1, inplace=True)
print(df)
print()

         Days_Present  Days_Absent
Student
Amin               20            2
Tina               18            4
Rafi               22            1
Nadia              15            7
Sabbir             25            0

         Days_Present
Student
Amin               20
Tina               18
Rafi               22
Nadia              15
Sabbir             25

### 4. Filtering Employee Data
Employee record:

 data = {
 	'Name': ['Rafiq', 'Nadia', 'Tuhin', 'Rima', 'Faruk'],
 	'Department': ['HR', 'IT', 'IT', 'Sales', 'Sales'],
 	'Salary': [40000, 55000, 52000, 45000, 47000],
 	'Experience': [2, 5, 4, 3, 6]
 }
 df = pd.DataFrame(data)

 Tasks:
 1. Show employees with Salary > 45000.
 2. Show employees from the IT department only.
 3. Show employees with Salary > 45000 and Experience > 3.
 4. Sort the employees by Experience (ascending).

In [40]:
data = {
 	'Name': ['Rafiq', 'Nadia', 'Tuhin', 'Rima', 'Faruk'],
 	'Department': ['HR', 'IT', 'IT', 'Sales', 'Sales'],
 	'Salary': [40000, 55000, 52000, 45000, 47000],
 	'Experience': [2, 5, 4, 3, 6]
}

df = pd.DataFrame(data)

print(df.loc[df["Salary"] > 45000])
print()
print(df.loc[df["Department"] == "IT"])
print()
print(df.loc[(df["Salary"] > 45000) & (df["Experience"] > 3)])
print()
print(df.sort_values(["Experience"]))
print()

    Name Department  Salary  Experience
1  Nadia         IT   55000           5
2  Tuhin         IT   52000           4
4  Faruk      Sales   47000           6

    Name Department  Salary  Experience
1  Nadia         IT   55000           5
2  Tuhin         IT   52000           4

    Name Department  Salary  Experience
1  Nadia         IT   55000           5
2  Tuhin         IT   52000           4
4  Faruk      Sales   47000           6

    Name Department  Salary  Experience
0  Rafiq         HR   40000           2
3   Rima      Sales   45000           3
2  Tuhin         IT   52000           4
1  Nadia         IT   55000           5
4  Faruk      Sales   47000           6

### 5. City Weather Dashboard
data = {
 	'City': ['Dhaka', 'Sylhet', 'Chittagong', 'Rajshahi', 'Khulna'],
 	'Temp': [32, 28, 30, 35, 33],
 	'Humidity': [60, 75, 70, 55, 65]
 }
 df = pd.DataFrame(data)

 Tasks:
 1. Show only the cities where FeelsLike > 33.
 2. Sort the DataFrame by FeelsLike (descending).
 3. Find which city has the highest humidity.

In [52]:
data = {
 	'City': ['Dhaka', 'Sylhet', 'Chittagong', 'Rajshahi', 'Khulna'],
 	'Temp': [32, 28, 30, 35, 33],
 	'Humidity': [60, 75, 70, 55, 65]
}

df = pd.DataFrame(data)
df["Feels_Like"] = df["Temp"] + df["Humidity"] * 0.1

print(df.loc[df["Feels_Like"] > 33])
print()
print(df.sort_values(["Feels_Like"], ascending=False))
print()
print(df["Humidity"].max())
print()

         City  Temp  Humidity  Feels_Like
0       Dhaka    32        60        38.0
1      Sylhet    28        75        35.5
2  Chittagong    30        70        37.0
3    Rajshahi    35        55        40.5
4      Khulna    33        65        39.5

         City  Temp  Humidity  Feels_Like
3    Rajshahi    35        55        40.5
4      Khulna    33        65        39.5
0       Dhaka    32        60        38.0
2  Chittagong    30        70        37.0
1      Sylhet    28        75        35.5

75