#### Create a Pandas Series from the list [10, 20, 30, 40, 50]. Print the Series, its index, and data type. Then create a DataFrame with columns "Name", "Age", and "City" containing at least 4 rows of data.

In [2]:
import pandas as pd

lst = [10, 20, 30, 40, 50]
ser = pd.Series(lst)

print(ser)
print(ser.index)
print(ser.dtype)

dct = {
    "name":["Swaron","SSD","ITR","KAI"],
    "age":[23,22,23,24],
    "City":["Adabor","Mirpur","Shahbag","Mohammadpur"]
}

df = pd.DataFrame(dct)
df

0    10
1    20
2    30
3    40
4    50
dtype: int64
RangeIndex(start=0, stop=5, step=1)
int64

     name  age         City
0  Swaron   23       Adabor
1     SSD   22       Mirpur
2     ITR   23      Shahbag
3     KAI   24  Mohammadpur

#### Using any DataFrame, write code to print the number of rows and columns, column data types (.dtypes), and summary statistics (.describe()).

In [16]:
print(df.shape)
print(df.dtypes)
print(df.describe())

(4, 3)
name    object
age      int64
City    object
dtype: object
             age
count   4.000000
mean   23.000000
std     0.816497
min    22.000000
25%    22.750000
50%    23.000000
75%    23.250000
max    24.000000

#### Create a DataFrame using the dictionary below:
#### data = {
    'Product': ['Pen', 'Book', 'Eraser', 'Pencil'],
    'Price': [10, 50, 5, 7],
    'Quantity': [100, 60, 200, 150]
}

Print .columns, .index. Access a single column and one full row.

In [27]:
data = {
    'Product': ['Pen', 'Book', 'Eraser', 'Pencil'],
    'Price': [10, 50, 5, 7],
    'Quantity': [100, 60, 200, 150]
}

df = pd.DataFrame(data)

idx = df.iloc[:,0:0]
cols = df.iloc[0:0,:]
print(idx)
print(cols)

single_column = df.loc[:,["Quantity"]]
print(single_column)
one_row = df.loc[1:1,]
print(one_row)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]
Empty DataFrame
Columns: [Product, Price, Quantity]
Index: []
   Quantity
0       100
1        60
2       200
3       150
  Product  Price  Quantity
1    Book     50        60

#### Using .loc[] and .iloc[], show the first row, the second column, and a 2×2 block from the middle of your DataFrame.

In [38]:
first_row = df.loc[0:0,:]
second_column = df.iloc[:,1:2]
two_x_two = df.iloc[1:3,1:3]

print(df, end="\n\n")

print(first_row, end="\n\n")
print(second_column, end="\n\n")
print(two_x_two, end="\n\n")

  Product  Price  Quantity
0     Pen     10       100
1    Book     50        60
2  Eraser      5       200
3  Pencil      7       150

  Product  Price  Quantity
0     Pen     10       100

   Price
0     10
1     50
2      5
3      7

   Price  Quantity
1     50        60
2      5       200

#### Create a 4×3 DataFrame of student names and marks. Drop one column using .drop(), drop one row by index

In [ ]:
data = {
    'Student': ['Alice', 'Bob', 'Charlie', 'David'],
    'Math': [85, 90, 78, 92],
    'Science': [88, 76, 95, 89]
}

df = pd.DataFrame(data)

# print(df)

df.drop(2,inplace=True)
print(df)
df.drop("Math",axis=1,inplace=True)
print(df)

  Student  Math  Science
0   Alice    85       88
1     Bob    90       76
3   David    92       89
  Student  Science
0   Alice       88
1     Bob       76
3   David       89

#### Create a DataFrame of employees with columns "Name", "Department", and "Salary". Sort it by "Salary" in ascending order and by "Name" in descending order.

In [11]:
data = {
    "Name":["Swaron","Galib","Amirul","Rafiq","Sadman"],
    "Department":["CSE","ME","CSE","EEE","CSE"],
    "Salary":[50000,60000,55000,30000,40000]
}

df = pd.DataFrame(data)
print(df)
print()

sorted_df_by_salary = df.sort_values("Salary",ascending=False)
print(sorted_df_by_salary)
print()

sorted_df_by_name = df.sort_values("Name")
print(sorted_df_by_name)
print()

     Name Department  Salary
0  Swaron        CSE   50000
1   Galib         ME   60000
2  Amirul        CSE   55000
3   Rafiq        EEE   30000
4  Sadman        CSE   40000

     Name Department  Salary
1   Galib         ME   60000
2  Amirul        CSE   55000
0  Swaron        CSE   50000
4  Sadman        CSE   40000
3   Rafiq        EEE   30000

     Name Department  Salary
2  Amirul        CSE   55000
1   Galib         ME   60000
3   Rafiq        EEE   30000
4  Sadman        CSE   40000
0  Swaron        CSE   50000

#### Create a DataFrame of 8 students with columns "Name" and "Score". Filter and print students with Score > 60 and those with Score < 40

In [29]:
import numpy as np

data = {
    "Name":["Swaron","Galib","Amirul","Rafiq","Sadman","Imon","Yaser","Tahsin"],
    "Score":np.random.randint(20,90,(8)).tolist()
}

print(data)

df = pd.DataFrame(data)
print(df)
print()

score_61_or_more = df.loc[df["Score"] > 60]
print(score_61_or_more)
print()

score_39_or_less = df[df["Score"] < 40]
print(score_39_or_less)
print()

{'Name': ['Swaron', 'Galib', 'Amirul', 'Rafiq', 'Sadman', 'Imon', 'Yaser', 'Tahsin'], 'Score': [24, 61, 74, 25, 40, 35, 76, 87]}
     Name  Score
0  Swaron     24
1   Galib     61
2  Amirul     74
3   Rafiq     25
4  Sadman     40
5    Imon     35
6   Yaser     76
7  Tahsin     87

     Name  Score
1   Galib     61
2  Amirul     74
6   Yaser     76
7  Tahsin     87

     Name  Score
0  Swaron     24
3   Rafiq     25
5    Imon     35