#### B1. Three scalers side by side
Heights = [150, 160, 170, 175, 180]
Weights = [58, 62, 65, 66, 190]
 Tasks:
  - a) Min-Max scale both to [0, 1]
  - b) Standardize the first three values of each only
  - c) Robust scale Weights with median and IQR
  - d) One line on which scaler handles the outlier best

In [2]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    "heights":[150, 160, 170, 175, 180],
    "weights":[58, 62, 65, 66, 190]
})

h_small = df.min().iloc[0]
h_big = df.max().iloc[0]
w_small = df.min().iloc[1]
w_big = df.max().iloc[1]

df["height_scaled"] = (df["heights"]-h_small) / (h_big-h_small)
df["weight_scaled"] = (df["weights"]-w_small) / (w_big-w_small)

h_meu = df.loc[:,["heights","weights"]].mean().iloc[0]
h_sigma = df.loc[:,["heights","weights"]].std().iloc[0]
w_meu = df.loc[:,["heights","weights"]].mean().iloc[1]
w_sigma = df.loc[:,["heights","weights"]].std().iloc[1]

df["height_first_3_val_z_scaled"] = (df.loc[0:2,"heights"]-h_meu) / h_sigma
df["weight_first_3_val_z_scaled"] = (df.loc[0:2,"weights"]-w_meu) / w_sigma

w_median = df.loc[:,"weights"].median()
w_q1 = np.percentile(df.iloc[:,1],25)
w_q3 = np.percentile(df.iloc[:,1],75)

w_iqr = w_q3 - w_q1

df["weight_robust_scaled"] = (df.loc[:,"weights"] - w_median) / w_iqr
df

,heights,weights,height_scaled,weight_scaled,height_first_3_val_z_scaled,weight_first_3_val_z_scaled,weight_robust_scaled
0,150,58,0.000000,0.000000,-1.411773,-0.529890,-1.75
1,160,62,0.333333,0.030303,-0.581318,-0.459706,-0.75
2,170,65,0.666667,0.053030,0.249136,-0.407068,0.00
3,175,66,0.833333,0.060606,NaN,NaN,0.25
4,180,190,1.000000,1.000000,NaN,NaN,31.25

#### B2. One-hot by hand
Cities = [Dhaka, Chattogram, Dhaka, Rajshahi, Rajshahi]
Create three columns City_Dhaka, City_Chattogram, City_Rajshahi using 0 and 1.

In [18]:
Cities = ["Dhaka", "Chattogram", "Dhaka", "Rajshahi", "Rajshahi"]

df = pd.DataFrame({
    "cities":Cities
})

df_city = pd.get_dummies(df.loc[:,"cities"], prefix="city", dtype=int)
df_encoded = pd.concat([df,df_city], axis=1)
df_encoded

       cities  city_Chattogram  city_Dhaka  city_Rajshahi
0       Dhaka                0           1              0
1  Chattogram                1           0              0
2       Dhaka                0           1              0
3    Rajshahi                0           0              1
4    Rajshahi                0           0              1